:root {
  --main-dark-color: black;
  --zoop-purple: #ab5ad6;
  --zoop-pink: #ea76d9;
  --zoop-dark: #683a7e;
}
* {
  margin: 0;
  /* font-family: monospace; */
  /* font-family: "Cute Font", cursive; */
  font-family: "Bitter", serif;

  color: var(--main-dark-color);
}

html,
body {
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  overflow-x: hidden;
  overflow: hidden;
}

body,
#background {
  position: absolute;
  /* overflow: hidden; */
  /* display: flex; */
  top: 0;
  left: 0;
  width: 100%;
  font-size: 30px;

  height: 100%;
  /* background-color: rgba(00, 00, 00, 0.2); */
  /* background-color: cornsilk; */
  background-color: black;
}

#scene {
  display: flex;
  width: 100%;
}

#jar {
  line-height: 0px;
}
canvas,
#plot-label {
  position: absolute;
  bottom: 0;
  /* top: 0; */
  right: 0px;
  left: 0px;
  z-index: 1;
  max-width: calc(100%);
  line-height: 0.6;
  /* width: calc(100% - 0px); */
  /* max-width: ca100%; */
  margin: auto;
  margin-bottom: 0px;
  /* border: 1px black solid; */
  /* box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); */
}

#sand-canvas {
  z-index: 2;
  margin: auto;
  /* cursor: pointer; */
}
#sky-canvas {
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  filter: grayscale(20%);
}
#plot-canvas {
  pointer-events: none;
  /* border: dashed 2px black; */
  z-index: 3;
  /* width:100%; */
  max-width: 40%;
}
#plot-label {
  z-index: 8;
  margin: 0;
  display: block;
  pointer-events: none;
  text-align: right;
  z-index: 4;
  /* width:100%; */
  max-width: 40%;
}
canvas,
img {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  margin: 0;
}
h1 {
  /* line-height: 35px; */
}
button {
  z-index: 3;
  position: relative;
  height: 45px;
  min-width: 30px;
  font-size: 20px;
  padding: 1px 5px;
  background-color: whitesmoke;
  color: var(--main-dark-color);
  border: 3px ridge whitesmoke;
  flex-grow: 1;
  max-width: 100px;
  fill: var(--main-dark-color);
  line-height: 0px;
  cursor: pointer;
  /* box-shadow: inset 0 0 10px gray; */
  box-shadow: inset 0 0 3px var(--main-dark-color);
  user-select: none; /* Standard */

  text-shadow: 0px 0px 4px white;
  margin: 1px;
  /* border-radius: 30px 10px 20px 20px / 30px 20px 10px 15px; */
}
.active button {
  background-color: gainsboro;
}
button:disabled {
  background-color: gainsboro;
  color: gray;
}

button:focus {
  outline: none;
}

button.selected {
  background-color: var(--main-dark-color);
  color: whitesmoke;
  fill: whitesmoke;

  border-style: ridge;
  text-shadow: 0px 0px 4px black;
  animation: baby-float 1s ease-in-out infinite;
  animation-direction: alternate;
}

.submission-title {
  z-index: 3;
  position: relative;
  overflow-wrap: break-word;
  overflow: hidden;
}
#ui {
}
#HUD {
  position: absolute;
  right: 0;
  display: flex;

  flex-wrap: wrap;

  z-index: 3;
  padding: 4px;
}

.fade {
  opacity: 1;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
}

.faded .fade {
  transition: opacity 5s linear;
  -moz-transition: opacity 5s linear;
  -webkit-transition: opacity 5s linear;
  opacity: 0;
}
#fps {
  pointer-events: none;
  font-size: 15px;
  line-height: 0.9;
  z-index: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: right;
  display: inline-block;
  white-space: pre;
  /* font-family: monospace; */
  user-select: none;
}

.tchotchkes {
  /* border: 1px dashed grey; */
  margin: 3px;
  /* padding: 3px; */
  line-height: 0;
}
.tchotchkes img {
  height: 32px;
  width: 32px;
}
.tchotchkes img.selected {
  /* box-shadow: 0px 0px 3px 3px pink; */
  transform: scale(1.3);
  filter: drop-shadow(0 0 0.5rem var(--main-dark-color));
}
.discard {
  margin: 3px;
  height: 28px;
  line-height: 28px;
  border: 3px dashed red;
  background-color: #55000055;
  border-radius: 3px;
}
.welcome-scrim {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(42, 87, 128, 0.5);
}
#welcome {
  position: fixed;
  z-index: 10;
  margin: auto;
  max-width: 600px;
  top: 15%;
  left: 20px;
  /* bottom: 20px; */
  right: 20px;
  padding: 30px;
  background-color: rgb(211, 200, 252);
  border: 4px double rgba(42, 87, 128);
  border-radius: 5px;
  filter: drop-shadow(0 0 2rem rgba(111, 42, 128, 0.5));

  box-shadow: inset 0 0 30px rgba(42, 87, 128);
}

#welcome img {
  display: inline-block;
  max-width: 50%;
  width: 50%;
  border-radius: 25%;
  /* transform: ; */
  /* filter: invert(1); */
  image-rendering: unset;
  animation: float 6s ease-in-out infinite;
  /* filter: drop-shadow(2px 4px 4px grey); */
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(-px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-5px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}
@keyframes baby-float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(-0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(1px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(-0px);
  }
}
.welcome-right-column {
  margin-top: 20%;
  float: right;
  width: 50%;
}
#welcome .welcome-speech p,
h1 {
  font-size: 16px;
  color: var(--zoop-dark);

  line-height: 30px;
}
#welcome p button {
  height: 30px;
}

#welcome .welcome-speech h1 {
  font-size: 18px;

  /* text-decoration: wavy var(--zoop-purple) underline; */
  margin-bottom: 10px;
}
.welcome-speech {
  border: 4px double var(--zoop-purple);
  background-color: whitesmoke;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  box-shadow: 0 0 10px rgba(42, 87, 128, 0.3);

  /* border-radius:     / 100px 100px 100px 100xp; */
}
.welcome-speech:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 10px solid var(--zoop-purple);
  border-left: 10px solid transparent;
  border-top: 10px solid var(--zoop-purple);
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 6px;
}
.welcome-speech:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 9px solid whitesmoke;
  border-left: 9px solid transparent;
  border-top: 9px solid whitesmoke;
  border-bottom: 9px solid transparent;
  left: -18px;
  top: 7px;
}
.next-button {
  margin: 10px;
  font-size: 18px;
  padding: 20px;
  max-width: 600px;
  float: right;
  border-style: double;
  border-width: 4px;
  border-color: whitesmoke;
  text-shadow: none;
  box-shadow: 0 0 10px rgba(42, 87, 128, 0.3);

  background-color: var(--zoop-purple);
  color: whitesmoke;
}
.welcome-right-column h4 {
  /* float: right; */
  font-size: 0.7em;
  margin: 10px;
  color: var(--zoop-dark);

  text-align: right;
  margin-bottom: -5px;
}
#controls {
  display: flex;
}

.dg {
  display: none;
  /* z-index: 5 !important; */
}

.menu {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 5;
  background-color: #f3f3f4;
  border: 1px solid gray;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
  max-width: 900px;
  margin: auto;
  overflow-y: auto;
}
.menu p,
.menu a {
  font-family: serif;
}
.species-info {
  column-count: 2;
}
.species-info p {
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .species-info {
    column-count: 1;
  }
}

.menu img {
  max-width: 100%;
}

.menu-scrim {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 4;
  background-color: #55555555;
}
.x {
  position: absolute;
  right: 4px;
  top: 5px;
  line-height: 0px;
}
input {
  position: relative;
  height: 25px;
  min-width: 30px;
  font-size: 19px;
  padding: 1px 5px;
  background-color: whitesmoke;
  color: black;
  border: 1.6px solid whitesmoke;
  border-color: gainsboro;
  flex-grow: 1;
  fill: black;
}
